*{
    margin: 0;
    padding: 0;
}
:root{
    --Red: hsl(0, 100%, 74%) ;
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%) ;
    --Grayish-Blue: hsl(246, 25%, 77%);
}

body{
    background-image: url(../images/bg-intro-desktop.png);
    background-size: cover;
}
.redBorder{
    border: 2px solid #f00 !important;
}
.secsuss{
    border: 2px solid #080 !important;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
   background-color: var(--Red);

   opacity: 0.7;
   z-index: 1;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    opacity: 1;
    z-index: 2;

}

.textcontent{
    padding: 40px;
    width: 50%;
}
.textcontent h1{
    font-size: 3.2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
}

.textcontent p{
    color: white;
    line-height: 25px;
}

.formcontainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.formcontainer .top_text{
    background-color: var(--Blue);
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;

}
.formcontainer .top_text span{
    font-size: 15px;
}
.form{
    background-color: white;
    padding: 20px ;
    border-radius: 5px;
}
.form input{
    width: 94%;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid var(--Grayish-Blue);
    border-radius: 5px;
    outline: none;
}
.message{
    color: var(--Red);
    text-align: center;
    padding: 5px;
}
.formcontainer .btn{
    background-color: var(--Green);
    width: 100%;
    font-size: 17px;
    color: white;
    font-weight: bold;
    border: none;
    overflow: 0;
    padding: 10px;
    cursor: pointer;
}

.formcontainer .form .rules{
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    color: var(--Dark-Blue);
}
.formcontainer .form .rules a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: var(--Red);
}



@media(max-width:767px){
    .flex{
        flex-wrap: wrap;
        width: 80%;
        margin:  0 auto;
        height: 100%;
    }
    .formcontainer,.textcontent{
        width: 100%;
    }

    .textcontent h1 {
        font-size: 2.6rem;
        margin-bottom: 15px;
    }
}

@media(max-width:480px){
    .container
    {
        padding: 20px 0;
    }
    .flex{
        width: 100%;
        min-height: 100%;
        padding: 0 20px;
    }
    .textcontent h1 {
        font-size: 1.5rem;
        margin-bottom: 15px;
    }
    .textcontent{
        padding: 15px;
        width: 100%;
    }
}